* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fafafa;
  border: 3px solid #fafafa;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #fafafa;
}